.preview-component {
  border-radius: 15px;

  //   height: 90vh;

  //   width: 60vh;
  //   max-height: 900px;
  //   max-width: 600px;
  height: 480px;
  width: 320px;
}

.main-preview {
  box-sizing: border-box;
  border-radius: 10px;
  width: inherit;
  height: inherit;
  // padding: calc(60vh * 0.06) calc(60vh * 0.064) calc(66vh * 0.13);
  background-color: rgb(196, 240, 171);
  display: flex;
  flex-direction: column-reverse;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 40%;
  }

  &-header {
    display: flex;
    h2 {
      padding: 0;
      margin: 0;
      color: #111;
      font-size: calc(1vw + 1em);
      line-height: calc(1vh + 1em);
      font-weight: bold;
      letter-spacing: -1px;
      align-self: flex-start;
    }
  }
  &-parag {
    margin-top: 0.4em;
    font-size: calc(1vw + 0.4em);
    text-align: start;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.8em;
    line-height: 1.6em;
  }

  p {
    text-align: start;
  }
  &-button {
    padding-top: 0.5em;
    height: 2em;
    button {
      height: inherit;
      font-size: 1.4em;
      border-radius: 5px;
      border: none;
      background-color: #a169f7;
      width: 100%;
    }
  }
}
