.App {
  background-color: #aed6dc;
  height: inherit;
}
.app-wrapper {
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.left-side {
  border: 1px solid rgb(129, 129, 129);
  border-radius: 10px;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-side {
  border: 1px solid rgb(129, 129, 129);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
