.prep-wrapper {
  width: 360px;
}
.myHeader {
  text-align: center;
}
.prep {
  margin-top: 2em;
  background-color: #bce8ef;
  display: flex;
  flex-direction: column;

  align-items: center;
  &-col {
    display: flex;
    flex-direction: column;
  }
  &-element {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
    width: 11em;
    height: 3em;
    border-radius: 10px;
  }
}
.color-pickers {
  display: none;
  width: inherit;
  display: flex;
  flex-direction: row;
}
