.prep-wrapper {
  width: 360px;
}
.myHeader {
  text-align: center;
}
.prep {
  box-sizing: border-box;
  margin-top: 2em;
  background-color: #bce8ef;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em;
  &-element {
    width: 100%;
    background-color: #aed6dc;
    color: black;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1em;
  }
}
.color-pickers {
  display: none;
  width: inherit;
  display: flex;
  flex-direction: row;
}
.color-input {
  margin-top: 1em;
  label {
    margin-right: 1em;
  }
}
.gradient-wrapper {
  display: flex;
  .gpw {
    padding: 0 !important;
  }
}
//делаем непрозрачный градиент пикер
.popover {
  background-color: white;
}
